* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: black;
    text-align: left;
    margin: 0;
}

nav {
    text-align: center;
    padding: 10px 0;
    color: #FFFFFF;
    font-weight: bold;
}

header {
    background-color: #2F333B;
    position: relative;
    height: 300px;
}

/* SVG Color Style */
#bigTriangleColor path {
    fill: #2F333B;
}

/* Drop Shadow for SVG */
.drop-shadow {
    filter: drop-shadow(0px 7px 3px rgba(0, 0, 0, 0.4));
}


h1 {
    font-size: 50px;
    margin-bottom: 5px;
    margin-top: 30px;
    color: white;
}

h2 {
    font-size: 14px;
    padding-bottom: 15px;
    color: #00A8E8;
    line-height: 1.5;
    font-weight: medium;
}

h1, h2, section {
    padding: 0 40px;
}


h3 {
    font-size: 48px;
    margin: 0;
    color: #2F333B
}

h4 {
    margin-top: 30px;
    font-size: 22px;
    color: #00A8E8;
}


p {
    color: #000000;
    line-height: 1.6;
}



section {
    margin-bottom: 50px;
}

.project-thumbnail {
    display: block;
    max-width: 60%;
    margin: 0 auto;
    border-radius: 25px;
}

button {
    margin: 25px auto;
    display: block;
    text-decoration: none;
    border: none;
    padding: 2rem 5rem;
    border-radius: 15px;
    color: #FFFFFF;
    background-color: #2F333B;
    font-weight: bold;
    font-size: 16px;
}

.tech {
    margin-bottom: 30px;
}
