* {
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: black;
    text-align: left;
    margin: 0;
}

nav {
    text-align: center;
    padding: 10px 0;
    color: #FFFFFF;
    font-weight: bold;
}

.logo {
    width: 50px;
    width: 50px;
    display: none;
}

header {
    background-color: #2F333B;
    position: relative;
    height: 300px;
}

/* SVG Color Style */
#bigTriangleColor path {
    fill: #2F333B;
}

/* Drop Shadow for SVG */
.drop-shadow {
    filter: drop-shadow(0px 7px 3px rgba(0, 0, 0, 0.4));
}


h1 {
    font-size: 50px;
    margin-bottom: 5px;
    margin-top: 10px;
    color: white;
    font-weight: bold;
}

h2 {
    font-size: 14px;
    padding-bottom: 15px;
    color: #0079A8;
    line-height: 1.5;
    font-weight: medium;
}

h1, h2, section {
    padding: 0 40px;
}


h3 {
    font-size: 38px;
    margin: 0;
    color: #2F333B;
    font-weight: bold;
}

h4 {
    margin-top: 30px;
    font-size: 22px;
    color: #0079A8;
    font-weight: bold;
}


p {
    color: #000000;
    line-height: 1.6;
}



section {
    margin-top: 30px;
    margin-bottom: 50px;
}

.profile {
    display: block;
    border-radius: 150px;
    margin: 50px auto;
}

.project-thumbnail {
    display: block;
    width: 80%;
    margin: 0 auto;
    border-radius: 15px;
}

.btn-style {
    margin: 35px auto;
    display: block;
    text-decoration: none;
    border: none;
    padding: 20px 40px;
    border-radius: 10px;
    color: #FFFFFF;
    background-color: #2F333B;
    font-weight: bold;
    font-size: 16px;
}

.live-site-btn {
    padding: 20px 55px;
    background-color: #0079A8;
}

/* Grow CSS transition class */
.animate {
    transition: all .2s ease-in-out;
}


input[type="submit"]:hover {
    transform: scale(1.2);
}


li:hover {
    transform: scale(1.2);
}

/* Technologies used */
.tech {
    margin-bottom: 40px;
}

.tech i {
    padding-right: 10px;
}


/* Social contact icons container */
.social {
    display: flex;
    font-size: 14px;
}



/* Social Items */
.social li {
    align-self: center;
    margin: 5px 20px 20px 0;
}


/* icon style */
.social-links {
    color: white;
}

footer {
    background-color:#2F333B;
    margin-top: 100px;
    text-align: center;
}


footer p {
    margin-bottom: 0;
    color: white;
    padding: 20px 0;
    font-size: 14px;
}




/* Tablet */
@media only screen and (min-width: 780px) {

    header {
        height: 400px;
    }

    h1 {
        font-size: 90px;
    }

    h2 {
        font-size: 15px;
    }

    h3 {
        font-size: 48px;
    }

    p {
        font-size: 22px;
    }

    h1, h2,.social,section {
        padding: 0 150px;
    }



}

/* Desktop */
@media only screen and (min-width: 1200px) {

    header {
        height: 500px;
    }

    h1 {
        font-size: 120px;
    }

    h2 {
        font-size: 20px;
    }
    
    h3 {
        font-size: 90px;
    }

    section {
        width: 80%;
        margin: 0 auto;
    }
    section p {
        padding-right: 100px;
    }

    p {
        font-size: 30px;
    }

    .profile {
        margin: 80px auto 150px auto;
    }

    .project-thumbnail {
        max-width: 900px;
    }
}
